
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.scroll-to-bottom{
  position: fixed;
  bottom: 12px;
  left: 50px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #8b0000;
  color: #fff;
}

.scroll-to-bottom .icon{
  margin-top: 10px;
  animation: scrollBottom 0.5s alternate ease;
}

@keyframes scrollBottom{
  from{
    transform: translateY(2px);
  }
  to{
    transform: translate(-1px);
  }
}