.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.a {
  color: #fcedec;
}

.a:hover {
  color: #5c6477;
}
.flexbox-container {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
}

.flexbox-item-4 {
  width: 100%;
  margin: 10px;
  height: 100px;
  background-color: #c7d5e0;
  border-radius: 15px;
}

.text-format {
  display: inline;
  padding: 170px;
  font-size: 60px;
  text-align: center;
  color: #d19f9d;
  margin-left: 30px;
  line-height: 100px;
}
.bullet {
  list-style-type: none;
  background-color: #d19f9d;
  border-radius: 0;
  margin-top: 10px;
  padding: 0;
}

.text-format2 {
  font-size: 60px;
  text-align: center;
  color: #d19f9d;
  margin-left: 30px;
  line-height: 300px;
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
